

*{
    margin: 0;
    padding: 0;
}
.main{
    background: hsl(213, 19%, 18%) ;
    justify-content: center;
    align-items: center;
    height: 350px;
    width: 300px;
    border-radius: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    padding: 30px;

    
    
}
body{
    background: hsl(216, 12%, 8%) ;
}
.head{
    text-align: left;
    margin-bottom: 20px;
    color: white;
    margin-top: 20px;
}
img{
    background-color: hsl(214, 9%, 30%);
    border-radius: 70px;
    width: 15px;
    height: 15px;
    padding: 10px; 
}
.text{
    margin-bottom: 20px;
    color: rgb(156, 153, 153);
    
}
 .button button{
    margin-top: 20px;
    margin-bottom: 50px;
    border-style: hidden;
    border-radius: 50px;
    padding: 10px;
    width: 40px;
    height: 40px;
    background-color:hsl(214, 9%, 30%);    
}
.button{
    word-spacing: 20px;
}
 
.submit{
    background-color: orangered;
    border-radius: 60px;
    height: 40px;
    padding: 3px;
    text-align: center;  
     
}
.submit button{
    background: none;
    border: none;
    color: white;
    padding: 10px;
}
.submit:hover{
     background-color: grey;
     
}
.button button:hover{
    background-color: orangered;
}
.button button:focus{
    background-color: rgb(236, 235, 235);
}
h3{
    padding: 10px;
    color: white;
}

.main-2{
    background-color:hsl(213, 19%, 18%);
    height: 250px;
    width: 160px;
    padding: 80px;
    left: 50%;
    top: 50%;
    position: absolute;
    justify-content: center;
    align-items: center;
     transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    border-radius:30px ;
    
}
.hidden{
    display: none;
}
.pic img{
    height: 105px;
    width: 150px;
    background: none;
    justify-content: center;
    margin-bottom: 20px;
    padding-top: 2px;
    top: 10px;
}

.text-1{
    margin-bottom: 20px;
    border-radius: 50px;
    background-color: hsl(214, 9%, 30%);    
    color: rgb(207, 72, 23);
    padding: 1px;
    text-align:center;
}
.text-2{
    margin-bottom: 10px;
    color: white;
    text-align:center;
    font-family: acherus grotesque, sans-serif;
}
.text-3{
    color: rgb(137, 135 ,135);
    line-height: 17px;
    text-align: center;
    font-family: Acherus grotesque, sans-serif;
}    